{% load static %}
{% load liveedit %}
{% csrf_token %}

{% if asset_type == 'styles' or not asset_type %}
    <link rel="stylesheet" href="{% static "liveedit/bower_components/flatpickr/dist/flatpickr.min.css" %}" />
<!--     <link href="//cdn.quilljs.com/1.2.4/quill.snow.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="{% static "liveedit/css/liveedit.css" %}" type="text/css" />
{% endif %}

{% if asset_type == 'scripts' or not asset_type %}

<script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
<script src="{% static "liveedit/bower_components/flatpickr/dist/flatpickr.min.js" %}"></script>
<script src="{% static "liveedit/bower_components/ckeditor/ckeditor.js" %}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.1/ace.js" integrity="sha256-kCykSp9wgrszaIBZpbagWbvnsHKXo4noDEi6ra6Y43w=" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.1/ext-language_tools.js" integrity="sha256-TUl8ozd4Bntg6buBehHdoNQ4EQh+zUD79p3BpawA5wM=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.1/ext-emmet.js" integrity="sha256-E44io5F/tth9537AzptW4VZxcOwyX5NhYrsKobGKnGE=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.1/ext-textarea.js" integrity="sha256-wv51FYIbRHyessSy2WNBEb9gexbfjyHrss9dZ+r0TnE=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.1/mode-django.js" integrity="sha256-iG+goKkxFrTF301Lr+MIHlTDiWoeyD0eB6ScyKMoIGI=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.1/theme-solarized_light.js" integrity="sha256-BwNMshzZRJ7Cfi5baA9/g0VGC/YVPSyJDV0qwU4DGA8=" crossorigin="anonymous"></script>


<!-- Main Quill library -->
<!-- <script src="//cdn.quilljs.com/1.2.4/quill.js" type="text/javascript"></script> -->

<script src="{% static "liveedit/js/liveedit.js" %}"></script>
<script>
    window.liveedit.cfg = {{ settings.config | json }};
</script>

<script src="{% static "liveedit/js/util.js" %}"></script>
<script src="{% static "liveedit/js/api.js" %}"></script>
<script src="{% static "liveedit/js/ui.js" %}"></script>
<script src="{% static "liveedit/js/widgets.js" %}"></script>
<!-- <script src="{% static "liveedit/js/quillwidget.js" %}"></script> -->
<!-- <script src="{% static "liveedit/js/ckwidget.js" %}"></script> -->
<script src="{% static "liveedit/js/acewidget.js" %}"></script>
{% endif %}
