
$main-dark-color: color(dark, main);
$accent-dark-color: color(dark, accent);
$faded-dark-color: color(dark, faded);
$main-light-color: color(light, main);
$accent-light-color: color(light, accent);



/* Links */
@mixin link($bg) {
    color: color($bg, accent);
    text-decoration: none;
    &:hover {
        color: darken(color($bg, accent), 10%);
        text-decoration: none;
    }
}

@mixin transition($style) {
  -webkit-transition: $style;
  -moz-transition: $style;
  -ms-transition: $style;
  -o-transition: $style;
  transition:  $style;
}



/* Global Properties */
body {
    background-color: $main-light-color;
    color: $main-dark-color;
    font-family: $body-font;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $header-font;
}

hr {
    border-top: solid 1px $faded-dark-color;
}

a {
    @include link(dark);
}



/* FORMS */

input {
    @include transition(all 0.30s ease-in-out);
    outline: 0;
    border: solid 1px color(dark, faded) !important;

    &:focus {
        box-shadow: 0 0 5px color(dark, accent) !important;
        border: solid 1px color(dark, accent) !important;
        outline: 0;
    }
}

/* Buttons */
.btn-primary {
    color: color(light, main);
    background-color: color(dark, accent);
    border: darken(color(dark,accent),30%);
    &:hover {
        background-color: darken(color(dark, accent), 10%);
    }
}


/* Header Navigation */

nav {
    position: fixed;
    top: 0;
    color: black;
    background-color:transparent;
    border: none;
    box-shadow: none;
    padding-left:5%;
    padding-right:5%;
    padding-top:2em;
    .menu-toggle {
        padding-right:5%;
        padding-top: 0.7em;
    }


    .brand-logo {
        color: $main-dark-color;
        font-family: $header-font;
        font-size: 10pt;
    }
    a {
        color: $main-dark-color !important;
        padding: unset !important;
    }

    a:hover {
        background-color:transparent !important;
    }

    a:hover:not(.brand-logo) {
        border-bottom: solid 1px $accent-dark-color !important;
    }

    a.active:not(.brand-logo) {
        border-bottom: solid 1px $main-dark-color;
    }

    @media (max-width: $mobile-width) {
        a:not(.brand-logo) {
            padding-left: 1em !important;
            border-left: solid 2px transparent;
        }
        a:hover:not(.brand-logo) {
            border-left: solid 2px $accent-dark-color !important;
            border-bottom: none !important;;
        }
        a.active:not(.brand-logo) {
            border-left: solid 2px $main-dark-color;
            border-bottom: none !important;;
        }
    }



}

.prague-background {
    @media (max-width: 700px) {
         background: url('asset(core:images:back-1650.jpg)') center center / cover no-repeat;
    }
    @media (max-width: 1600px) {
        background: url('asset(core:images:back-1650.jpg)') center center / cover no-repeat;
    }
     background: url('asset(core:images:back-3800.jpg)') center center / cover no-repeat;;
}

.page:first-of-type:not(footer) {
    min-height: 100vh;
    width: 100%;
    z-index:-10;
}

.page {
    padding-left: 5%;
    padding-right: 5%;
}

footer {
    padding-top:3em !important;
    background-color: lighten($main-dark-color,20%) !important;
    ul {
        list-style: none;
    }
    .logo {
        height: 4em;
        margin-right: 1em;
        margin-bottom: 0.5em;
    }
}
address {
    font-style: normal;
}

.lve-ace-widget {
    margin-top:10em;
}


.edit-tools.page-main {
    position:absolute;
    top:2px;
    right:0px;
    i {
        font-size: 1em;
    }
    .control-label {
        vertical-align: text-top;
    }
    .lve-control-save, .lve-control-cancel {
        padding-top: unset;
    }
}

footer {
    .edit-tools {
        position: absolute;
        right: 0;
    }
    .lve-controls {
        color: $main-light-color;
    }
}

#test {
    margin-top:6em;
/*     display: none; */
}
