$invisible-color: transparent;

/* Hilighted BG Block */
@mixin hi-bg {
  color: $main-light-color;
  background-color: $accent-dark-color;
  a {
      @include link(light);
  }

  input {
    color: color(light, main);
    background-color: color(dark, accent);
    @include transition(all 0.30s ease-in-out);
    outline: 0;
    border: solid 1px color(light, faded) !important;

    &:focus {
        color: color(light, main);
        background-color: color(dark, accent);
        box-shadow: 0 0 5px color(light, accent) !important;
        border: solid 1px color(light, accent) !important;
        outline: 0;
    }
  }
}

$icon-chars : (
    "menu": "menu",
    "folder": "folder",
    "file": "insert_drive_file",
    "login": "login"
);

@mixin icon($name) {
    &:checked::before {}
    &::before {
        font-family: $icon-font;
        font-size:inherit;
        content: map-get($icon-chars, $name);
        font-weight: normal;
        font-style: normal;
        font-size: 24px;
        line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        display: inline-block;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        -webkit-font-feature-settings: 'liga';
        -webkit-font-smoothing: antialiased;
    }
}

.icon.i-login {
    @include icon('login');

}

@function color($type, $name) {
    @if $type == "dark" {
        @warn map-get($dark-colors, $name);
        @return map-get($dark-colors, $name);
    }
    @warn map-get($light-colors, $name);
    @return map-get($light-colors, $name);
}


.separated-list {
    ::before {
        content: ', ';
    }
    :first-child::before {
        content: '';
    }
}

.accented-fg {
    color: color(dark, accent);
}

.light-fg {
    color: color(light, main) !important;
}

.centered {
    text-align:center !important;
}

.align-top {
    align-items:flex-start !important;
}

.page {
    width:100%;
}
.page.flex {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.full-height {
    min-height: 100vh;
}

.half-width {
    width:50%;
}
