/* Colors */
$dark-colors : (
    "main": black,
    "accent": #ffc600,
    "faded": lighten(black, 80%),
);

$light-colors : (
    "main": white,
    "accent": white,
);

/* Fonts */
$header-font: 'Orkney', sans-serif;
$body-font: 'Orkney', sans-serif;
$logo-font: 'Orkney', sans-serif;

/* Mobile widths */
$mobile-width: 767px;

$icon-font: "Material Icons";

