<h3>Useful Links</h3>
<ul>
  <li><a href="https://gitlab.com/Verner/symposium">The pytest Website</a></li>
  
  <li><a href="{{ pathto('contributing') }}">Contribution Guide</a></li>
  
  <li><a href="https://pypi.python.org/pypi/symposium">PyPI package</a></li>
  <li><a href="https://gitlab.com/Verner/symposium %}">Source Repo</a></li>
  <li><a href="https://gitlab.com/Verner/symposium/latest/symposium.pdf">PDF Documentation</a>
</ul>

