{% extends 'popup.html' %}
{% load bootstrap3 utils %}
{% block content %}

{% bootstrap_messages %}
<h2> Create a New Page</h2>
<form action="{% url 'simplecms:page_create' %}" method="post">
    {% csrf_token %}
    {% bootstrap_form form  %}
    <button onclick='window.close()' class="btn btn-danger">
            {% fa_icon "ban" %} Cancel
    </button>
    <button type="submit" class="btn btn-primary pull-right">
            {% fa_icon "plus" %} Create Page
    </button>
</form>
{% endblock content %}
