{% extends 'base.html' %}
{% load staticfiles %}
{% load sekizai_tags %}
{% load i18n %}
{% load brython %}

{% block content %}

    {% addtoblock "head" %}
        {% brython_python_path %}
        {% brython_app 'simplecms' 'pagelist.py' %}
    {% endaddtoblock %}

    {% addtoblock "css" %}{% brython_static 'styles' %} {% endaddtoblock %}
    {% addtoblock "js" %}{% brython_static 'scripts' %}{% endaddtoblock %}

    <div id='scheduler'>
    </div>

    <textarea id='console'>
    </textarea>

{% endblock content %}

{% block right_sidebar %}
 <div id='reservations'>
 </div>
 <div id='courses'>
 </div>
{% endblock right_sidebar %}
