.ql-snow.ql-toolbar:after {
    display:inline;
}

.ql-snow.ql-container, .ql-snow.ql-toolbar {
    border: solid 1px black;
}

.cke_focus {
    outline:none;
}
.cke_top, .cke_inner {
    background-color:inherit;
    border:none;
}
.cke_chrome {
    border: solid 1px black;
}

.cke_widget_wrapper[contenteditable='false']:hover>.cke_widget_element {
    outline:none !important;
}
span.cke_widget_drag_handler_container {
    display:none !important;
}
.lve-ck-widget .cke_widget_drag_handler_container {
    display:block !important;
}


button.lve-controls {
    background:inherit;
    border:none;
}

button.lve-controls.lve-control-cancel,
button.lve-controls.lve-control-save {
    padding-top:1em;
}

button.lve-controls:disabled,
button.lve-controls[disabled] {
    display:none;
}
