.menu-item {
    position:relative;
    cursor:pointer;

    .menu {
        display: none;
        position:absolute;
        left:-50%;
    }

    ul.menu {
        list-style: none;
    }

    i {
        position: relative;
        top: -0.3em;
        height: 0px !important;
    }

    border-bottom: solid 1px transparent;

    &:hover {
        border-bottom: solid 1px gray;

        .menu {
            display: flex;
            flex-direction: column;
            padding: 0.5em;
            border: solid 1px;

            .menu-item:hover {
                border:none;
                color:white;
            }
        }
    }
}

