nav {
    width: 100%;
    height: auto !important;
    line-height: unset !important;
}

nav.fixed {
    position: absolute;
    top:0px;
    left:0px;
}

nav, .flexbox, nav > :not(.menu-toggle) {
    height: auto !important;
    line-height: unset !important;
    display:flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
}
nav i {
    line-height: unset !important;
}

nav.align-center, .flexbox.align-center {
    align-items:center;

}

nav.align-top, .flexbox.align-top {
    align-items:flex-start;
}

nav.align-bottom, .flexbox.align-bottom {
    align-items:flex-end;
}

nav > ul {
    list-style: none;
    li {
        width: fit-content;
        margin-left: 1em;
        margin-right: 1em;
    }
}

input.toggle {
    display:none;
}

@media (max-width: $mobile-width) {
    nav, .flexbox, nav > :not(.menu-toggle) {
        flex-direction: column;
        align-items: stretch !important;
    }

    input.menu-toggle {
        @include icon(menu);
        opacity: 1 !important;
        pointer-events: auto !important;
        position:absolute;
        right:0em;
        cursor:pointer;
        appearance:none;
        -webkit-appearance:none;
        z-index:200;
        border:none !important;
        box-shadow: none !important;
    }

    input.menu-toggle:checked + ul {
        display: none;
    }
}


