{% macro render_menu(items, depth=2, orientation='horizontal', path='') %}
    {% for item in items recursive %}
        {% if item.type == 'header' %}
            <li class='menu-item header'> {{ item.title }}</li>
        {% elif item.type == 'divider' %}
            <li class='menu-item divider'></li>
        {% elif item.children and depth and loop.depth < depth %}
            <li class='menu-item'>
              <span class='header'>{{ item.title }}</span>
            <ul class='menu'>
                {{ loop(item.children) }}
            </ul>
            </li>
        {% elif 'url' in item %}
            <li> <a href="{{ item.url }}" class='item {% if item.url == path %}active{% endif %}'>{{ item.title }}</a></li>
        {% endif %}
    {% endfor %}
{% endmacro %}
