{% import 'core/macros/menu.html' as menus %}
{% set menu = load_menu('top_menu', site_prefix=site_prefix) %}
{% set footer = load_fragment('footer', site_prefix=site_prefix) %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{{ _("Symposium Conference management") }}{% endblock title %}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">

        {% block styles %}
            {{ asset('core:stylesheets:materialize') }}
            <link href="{{ asset_url('core:stylesheets:core')}} " rel="stylesheet">
            {# {{ asset('core:stylesheets:core') }} #}
            {% if request.user.is_staff %}
                {{ asset('liveedit:stylesheets:liveedit.css') }}
            {% endif %}

            <!--Import Google Icon Font-->
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <!--Import Font Awesome Icon Font-->
            <link href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous" rel="stylesheet" >
        {% endblock styles %}

    </head>
    <body>
        <!-- HEADER -->
        {% block header %}


<!--        <div class='navbar-fixed'>'
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">Logic Colloquium Prague 2019</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    {{ menus.render_menu(menu.children,3,'horizontal', request.path) }}
                </ul>
            </div>
        </nav>
        </div>-->
        <nav class='align-center'>
            <div class='logo'>
                <div>
                    Logic Colloquium <br/>
                    Prague 2019
                </div>
            </div>

            <input type='checkbox' class='menu-toggle' checked=false />
            <ul class='align-bottom'>
                {{ menus.render_menu(menu.children,3,'horizontal', request.path) }}
                <li class='menu-item'>
                    {% if request.user.is_authenticated %}
                    <span href='menu-header'><a>{{ request.user }}</a></span>
                    <ul class='menu'>
                        <li class='menu-item'> Logout </li>
                    </ul>
                    {% else %}

                    {% endif %}
                </li>
            </ul>
        </nav>
        {% endblock header %}
{#
        <div id='test'>
        </div>
#}

        <!-- PAGE CONTENT -->
        {% block content %}
        {% endblock content %}

        <!-- FOOTER -->
        <footer class='page-footer page'>
        {% block footer %}
        <div class='edit-tools'>{{ live_controls(footer, "content") }}</div>
        {{ live_edit(footer, "content", safe=True, display_tpl='{{ model_instance.render(context=ctx) | safe }}') }}
        {% endblock footer %}
        </footer>

        <!-- JAVASCRIPT CONFIGURATION -->
        {% block jsconfig %}
            <!-- MATHJAX -->
            <script type="text/x-mathjax-config">
                MathJax.Hub.Config({
                    tex2jax: {
                        inlineMath: [['$','$'], ['\\(','\\)']]
                    }
                });
            </script>
        {% endblock jsconfig %}

        <!-- JAVASCRIPT LIBS & APPS -->
        {% block javascript %}
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

{# {{ asset('core:javascript:core') }}  #}

        {% endblock javascript %}

        {% if request.user.is_staff %}
        {% block admin_js %}
            <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
            {{ asset('core:javascript:materialize') }}
            <script>M.AutoInit();</script>
            {{ liveedit_static('scripts') }}
        {% endblock admin_js %}
        {% endif %}

    </body>
</html>
