
{% extends 'base.html' %}
{% block content %}
    <h1 class='error'> Error</h1>
    <div>
        <div class='oauth {{service}}'>{{service} ID: {{oauth_id}}</div>
        <div class='message'>Message: {{ error }} </div>
    </div>
{% endblock %}

