{% extends 'cms_default_template.html' %}

{% block title %}HomePage{% endblock title %}
{% block content %}
<h2> Create your homepage</h2>
<form action="{{ url('simplecms:page_create') }}" method="post">
    {% csrf_token %}
    {{ form  }}
    <button onclick='window.close()' class="btn btn-danger">
            {{ fa_icon("ban") }} Cancel
    </button>
    <button type="submit" class="btn btn-primary pull-right">
            {{ fa_icon("plus") }} Create Page
    </button>
</form>
{% endblock content %}
