<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock title %}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">

        {% block styles %}
            {{ asset('simplecms:stylesheets:simplecms') }}
            {{ asset('liveedit:stylesheets:liveedit.css') }}
        {% endblock styles %}

    </head>
<body>
{{ declare_fragments('main') }}
{% block content %}
  {{ render_fragment(page, 'main') }}
{% endblock content %}

{% block javascript %}
{% endblock javascript %}
</body>
</html>
