{% extends 'popup.html' %}
{% block content %}

<h2> Create a New Page</h2>
<form action="{{ url('simplecms:page_create', site_prefix=site_prefix) }}" method="post">
    {% csrf_token %}
    {{ form  }}
    <button onclick='window.close()' class="btn btn-danger">
            {{ fa_icon("ban") }} Cancel
    </button>
    <button type="submit" class="btn btn-primary pull-right">
            {{ fa_icon("plus") }} Create Page
    </button>
</form>
{% endblock content %}
