<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Popup{% endblock title %}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        {% block styles %}
            {{ asset('stylesheets:simplecms') }}
        {% endblock styles %}
    </head>
    <body>
        <div id='popup_content'>
            {% block content %}
            {% endblock content %}
        </div>
    </body>
    {% block javascript %}
    {% endblock javascript`}
</html>



