<div class="field
{% if field.errors %}error{% endif %}
{% if widget.width %}{{ widget.width }} wide{% endif %}
{% if field.required %}required{% endif %}">
    <label for='{{ field.id }}'> {{ field.label }}</label>
    {% if widget.help.above %}
    <span class='help'> {{ field.help.above | safe }}</span>
    {% endif %}
    <div class='ui wrapper' {% if widget.help.tooltip %}data-tooltip='{{ widget.help.tooltip }}'{% endif %}>
    {% block widget %}
    {% endblock %}
    {% if field.errors %}
    <div class='ui basic red pointint prompt label transition visible'>
    {% for error in field.errors %}{{ error.detail }}{% endfor %}
    </div>
    {% endif %}
    </div>
    {% if widget.help.below %}
    <span class="help">{{ widget.help.below }}</span>
    {% endif %}
</div>
