{% extends 'core/semantic_forms/fields/base.html' }
{% block widget %}
    <div class='ui search selection dropdown'
            id="{{ field.id }}"
            name="{{ field.name }}"
            value="{{ field.value }}"
           {% if widget.help.placeholder %}placeholder="{{ widget.help.placeholder}}"{% endif %}
           {% if field.required %}required{% endif %}
           {% if widget.disabled %}disabled{% endif %}
    />
    <input type='hidden' name='{{ field.name }}' />
    <i class='dropdown icon'></i>
    {% if widget.help.placeholder %}
    <div class="default text">{{ widget.help.placeholder}}</div>
    {% endif %}
    <div class="menu">
    {% for choice in field.choices %}
        <div class='item' data-value="{{ choice.value }}">{{ choice.label }}</div>
    {% endfor %}
    </div>
{% endblock widget %}


