{% if form.errors %}
<!-- BEGIN: section errors -->
<div class="ui error message">
{% for error in form.errors %}
    <div class="header">error.title</div>
    <p>{{ error.detail }} </p>
{% endfor %}
</div>
<!-- END: section errors -->
{% endif %}
{% if form.title %}<h4 class="ui dividing header">{{ form.title }}</h4>{% endif %}
{% if form.display.help.above %}<span class='help'>{{ form.display.help.above }}</span>{% endif %}

<!-- BEGIN: section fields -->
{% for field in form.fields %}
    {{ field }}
{% endfor %}

{% endfor %}
<!-- END: section fields -->
